{% extends 'base.html' %}

{% block content %}
<section>
  <div class="signinpanel">
    <div class="row">
      <div class="col-md-7">
        <div class="signin-info">
          <div class="mb20"></div>
          <div class="logopanel">
            <h1><span>[</span> SEG <span>]</span></h1>
          </div><!-- logopanel -->
          <ul>
            <li>Sistema Eletrônico de Gestão</li>
          </ul>
          <div class="mb20"></div>
          <!--<strong>Ainda não é cadastrado? <a href="{% url 'cadastrar_user' %}">Cadastre-se aqui</a></strong>-->
          <form action="/consulta/detalhes/" method="GET" role="search">
            <h4 class="nomargin">Acompanhamento do Processo<br/><small>Ex.: X-999999.9999.9</small></h4>
            <div class="row">
              <div class="col-sm-12">
                <div class="input-group has-success">
                  <input type="text" class="form-control" name="value" placeholder="Informe o processo ou CNPJ">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-sm-12 -->
            </div><!-- /.row -->
          </form>
        </div><!-- signin0-info -->
      </div><!-- col-sm-7 -->

      <div class="col-md-5">
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            <p>Seu Usuário e Senha não estão corretos. Por favor, tente novamente.</p>
          </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
          <h4 class="nomargin">Entrar</h4>
          <p class="mt5 mb20">Login para acessar sua conta.</p>

          <input type="text" class="form-control uname" name="username" id="username" placeholder="Usuário" />
          <input type="password" class="form-control pword" name="password" id="password" placeholder="Senha" />
          <a href="{% url 'password_reset' %}"><small>Esqueceu sua senha?</small></a>
          <input class="btn btn-success btn-block" type="submit" value="Entrar" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div><!-- col-sm-5 -->
    </div><!-- row -->

    <div class="signup-footer">
      <div class="pull-left">
          &copy; 2016. Todos os direitos reservados.
      </div>
      <div class="pull-right">
        Sistema criado por: <a href="http://fb.com/fernand.junio" target="_blank">Fernando Junior</a>
      </div>
    </div>

  </div><!-- signin -->

</section>

{% endblock %}
