{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SEG - Sistema Eletrônico de Gestão da Agevisa/PB</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Customizado -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{% static "css/select2.min.css" %}" rel="stylesheet">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static "img/image-1.png" %}" alt="Primeiro slide">
          </div>
          <div class="item">
            <img src="{% static "img/image-2.png" %}" alt="Segundo slide">
          </div>
        </div>
      </div>
    </div>

    {% if request.user.is_authenticated %}
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SEG - Agevisa/PB</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Principal</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/cadastro/processo">Processo</a></li>
                  <li><a href="/cadastro/veiculo">Veículo</a></li>
                  <li><a href="/cadastro/responsavel">Responsável</a></li>
                  <li><a href="/cadastro/estabelecimento/pessoa_fisica">Estabelecimento - Pessoa Física</a></li>
                  <li><a href="/cadastro/estabelecimento/pessoa_juridica">Estabelecimento - Pessoa Jurídica</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atividade <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/estabelecimento/atividade/vincular">Vincular</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/processo/listar">Processo</a></li>
                  <li><a href="/responsavel/listar">Responsável</a></li>
                  <li><a href="/estabelecimento/pessoa_fisica/listar">Estabelecimento - Pessoa Física</a></li>
                  <li><a href="/estabelecimento/pessoa_juridica/listar">Estabelecimento - Pessoa Jurídica</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" action="/consulta/detalhes/" method="GET" role="search">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input type="text" class="form-control" name="value" placeholder="Pesquise aqui...">
                      <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">
                          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-sm-12 -->
                </div><!-- /.row -->
              </form>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/accounts/password_change/">Alterar Senha</a></li>
                  <li><a href="/accounts/logout/">Sair</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    {% endif %}

    <div class="container">

      {% block content %}
      {% endblock %}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="{% static "js/jquery.autocomplete.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/select2.full.js" %}"></script>
  </body>
</html>
