{% extends 'base_menu.html' %}

{% block content %}
  <div class="row">
    <section>
      <ol class="breadcrumb">
        <li><a href="/">Principal</a></li>
        <li><a href="#">Processo</a></li>
        <li class="active">Reorientar</li>
      </ol>

      <form class="form-horizontal" method="POST">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Reorientar Processo</h3>
          </div>
          <div class="panel-body">
            {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-3 control-label">Processo: <span class="asterisk">*</span></label>
              <div class="col-sm-8">
                <input autocomplete="off" name="processo_name" class="form-control" id="autocomplete-processo" type="text" />
                <input type="hidden" name="processo_id" id="processo-id" />
              </div>
            </div>

            <div class="form-group">
               {{ form.Setor.errors }}
               <label class="col-sm-3 control-label">Setor: <span class="asterisk">*</span></label>
               <div class="col-sm-8">
                 {{ form.Setor }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Operacao.errors }}
               <label class="col-sm-3 control-label">Operação: <span class="asterisk">*</span></label>
               <div class="col-sm-8">
                 {{ form.Operacao }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Situacao.errors }}
               <label class="col-sm-3 control-label">Situação: </label>
               <div class="col-sm-8">
                 {{ form.Situacao }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Alvara.errors }}
               <label class="col-sm-3 control-label">Alvará: </label>
               <div class="col-sm-8">
                 {{ form.Alvara }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Obs.errors }}
               <label class="col-sm-3 control-label">Observação: </label>
               <div class="col-sm-8">
                 {{ form.Obs }}
               </div>
            </div>

            <ul class="list-inline pull-left">
                <li><button type="submit" class="btn btn-primary btn-info-full">
                  <i class="glyphicon glyphicon-ok"></i> Reorientar
                </button></li>
            </ul>

          </div> <!-- panel-body -->
        </div> <!-- panel panel-default -->
      </form>
    </section>
  </div>
{% endblock content %}
