{% extends 'base_menu.html' %}

{% block content %}
  <div class="row">
    <section>
      <ol class="breadcrumb">
        <li><a href="/">Principal</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Processo</li>
      </ol>

      <form class="form-horizontal" method="POST">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Criação de Processo</h3>
          </div>
          <div class="panel-body">
            {% csrf_token %}
            <div class="form-group">
               {{ form.Tipo.errors }}
               <label class="col-sm-2 control-label">Tipo: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Tipo }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Ano.errors }}
               <label class="col-sm-2 control-label">Ano: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Ano }}
               </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Processo Mãe: <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input autocomplete="off" name="processo_name" class="form-control" id="autocomplete-processo" type="text" />
                <input type="hidden" name="processo_id" id="processo-id" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Estabelecimento: <span class="asterisk">*</span></label>
              <div class="col-sm-9">
                <input autocomplete="off" name="estabelecimento_name" class="form-control" id="autocomplete-estabelecimento" type="text" />
                <input type="hidden" name="estabelecimento_id" id="estabelecimento-id" />
              </div>
            </div>

            <div class="form-group">
               {{ form.Exercicio.errors }}
               <label class="col-sm-2 control-label">Exercício: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Exercicio }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Assunto.errors }}
               <label class="col-sm-2 control-label">Assunto: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Assunto }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Obs.errors }}
               <label class="col-sm-2 control-label">Obs: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Obs }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Atividade_Estabelecimento.errors }}
               <label class="col-sm-2 control-label">Atividade ou Atividade/Veículo:: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Atividade_Estabelecimento }}
               </div>
            </div>

            <div class="form-group">
               {{ form.Setor.errors }}
               <label class="col-sm-2 control-label">Setor: <span class="asterisk">*</span></label>
               <div class="col-sm-9">
                 {{ form.Setor }}
               </div>
            </div>

            <button type="submit">Salvar</button>

          </div> <!-- panel-body -->
        </div> <!-- panel panel-default -->
      </form>
    </section>
  </div>
{% endblock content %}
