{% extends 'base_menu.html' %}

{% block content %}
  <div class="row">
    <section>
      <ol class="breadcrumb">
        <li><a href="/">Principal</a></li>
        <li class="active">Resultado</li>
      </ol>
      {% if errors %}
        {% for error in errors %}
          <div class="alert alert-danger" role="alert"><strong>Ops! Erro: </strong>{{error}}</div>
        {% endfor %}
      {% elif successes %}
        {% for success in successes %}
          <div class="alert alert-success" role="alert"><strong>Yeah! Sucesso: </strong>{{success}}</div>
        {% endfor %}
        {% if imprimir %}
          <ul class="list-inline pull-left">
              <li>
                <a href="{% url 'p_imprimir' imprimir.0 %}">
                  <button class="btn btn-primary btn-info-full">
                    <i class="glyphicon glyphicon-ok"></i> Imprimir
                  </button>
                </a>
              </li>
          </ul>
        {% endif %}
      {% endif %}
    </section>
  </div>
{% endblock content %}
